/*--------------*/

header {
	margin-top: -10px;
	background-color: rgb(176, 176, 176);
	color: white;

	/*for the moment*/
	display:none;
}

fieldset {
	margin: 30px;
}

legend {
	margin: 0px 5px 0px 5px;
	font-weight: italic;
} 

form {
	margin: 10px;
} 


select {
	width: 300px;
} 

/*--------------*/

.imgLoading {
	margin-top: 50px;
	margin-left: 100px;
	height: 50px;
}

.titre {
	margin: 10px;
	margin-top: 20px;
	font-size: 120%;
	font-weight: bold;
}

.champs {
	margin : 10px;
	display : block;
}

.confirmed {
	color : green;
}

.error {
	color : red;
}

/*--------------*/

#mainBlock, #headerText {
	width: 760px;
	margin-left: auto ;
	margin-right: auto ;
} 

#mainBlock {
	margin-top: 50px ;
}

#menuCity_loading{
	height : 182.5px;
}

#uploadtechnique_text{
	resize:both;
	width: 400px;
	height: 100px;
}